name: waseem-learning-github-actions

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        containers: [1,2]

    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - uses: cypress-io/github-action@v4
        with:
          record: true
          parallel: true
        env:
          CYPRESS_RECORD_KEY: 178812d0-1eae-4b5e-960a-489ad2f5016b
